.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.colum {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contentRow {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 20px;
}

.contentRow img {
  width: 20px;
}

.contentRow span {
  width: 100%;
  border-bottom: 1px solid rgb(144, 142, 142);
  margin-right: 20px;
}

.contentRow h3 {
  margin: 0;
}
