.container {
  width: 100%;
  max-width: 470px;
  height: 680px;
  padding: 5px 15px 5px 15px;
}

@media screen and (min-width: 100px) and (max-width: 1200px) {
  .container {
    margin: 20px 0;
    height: auto;
  }
}
