.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.container img {
  height: 180px;
}

.imageFullWidth img {
  height: 100%;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (min-width: 100px) and (max-width: 1200px) {
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
}

@media screen and (min-width: 100px) and (max-width: 1200px) {
  .rowReverse {
    flex-direction: column;
  }
}
