.heading {
  font-family: "Space Mono", monospace;
  font-size: 31px;
  font-weight: 700;
  line-height: 1.2;
  color: black;
  padding: 0 10px;
}

@media screen and (min-width: 100px) and (max-width: 1200px) {
  .heading {
    font-size: 20px;
  }
}

.blueFont {
  color: #3585d4;
}

.smallFont {
  font-size: 1.4rem;
}

.centeredText {
  text-align: center;
}

.fontWeight500 {
  margin: 10px;
  font-weight: 500;
}
